@import url(/css/product-info.css);

/* .cape-beige,
.cape-border-beige {
   background-color: #dbb68e;
}
.cape-burgundy,
.cape-border-burgundy {
   background-color: #d96e98;
}

.cape-brown,
.cape-border-brown {
   background-color: #ad7e5c;
}

.cape-red,
.cape-border-red {
   background-color: #ea6367;
}

.cape-gray,
.cape-border-gray {
   background-color: #b2b2b2;
}
.cape-blue,
.cape-border-blue {
   background-color: #7295e9;
}
.cape-black,
.cape-border-black {
   background-color: #5e5e5e;
} */
