.product-info {
   width: 90vw;
   max-width: 1180px;
   margin: 0 auto;
   padding: 6rem 0;
}

.info-title {
   font-size: 3rem;
   margin-bottom: 2rem;
   letter-spacing: 0.1rem;
}

.info-text {
   font-size: 1.5rem;
   line-height: 2.5rem;
   padding-bottom: 4rem;
}
.order-title {
   position: relative;
   color: #141414;
   text-align: center;
   margin: 2rem 0 4rem 0;
}
.order-title h1 {
   font-size: 3rem;
}
.order-title::after {
   content: "";
   position: absolute;
   bottom: -1rem;
   left: 50%;
   transform: translateX(-50%);
   width: 20rem;
   height: 0.5rem;
   background-color: gold;
}
